h2{
    color: aqua;
    background-color: brown;
    font-family: sans-serif;
}

#head3{
    text-align: left;
    color:red;
    background-color: antiquewhite;
}

.head3{
    color:green;
}


div p{
    background-color: beige;
    color:black;
}

div > h4{
    background-color: rgb(165, 165, 63);
    color:rgb(153, 8, 8);
}

div + span{
    color: red;
}

div ~ b{
    background-color: blueviolet;
}